* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

.sidebar-toggle {
    position: fixed;
    top: 2rem;
    right: 3rem;
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: hsl(288.4deg 73.53% 40%);
    transition: all 0.3s linear;
    cursor: pointer;
    animation: bounce 2s ease-in-out infinite;
}

.sidebar-toggle:hover {
    color: hsl(210, 22%, 49%);
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.close-btn {
    font-size: 1.75rem;
    background: transparent;
    border-color: transparent;
    color: hsl(205, 78%, 60%);
    transition: all 0.3s linear;
    cursor: pointer;
    color: hsl(360, 67%, 44%);
}

.close-btn:hover {
    color: hsl(360, 71%, 66%);
    transform: rotate(360deg);
}

.logo {
    justify-self: center;
    height: 100px;
    width: 180px
}

.links a {
    display: block;
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: 1rem 1.5rem;
    color: hsl(208, 16%, 36%);
    transition: all 0.3s linear;
}

.links a:hover {
    background: hsl(210, 31%, 80%);
    color: #fff;
    padding-left: 1.75rem;
    cursor: pointer;
}

.social-icons {
    justify-self: center;
    display: flex;
    padding-bottom: 2rem;
}

.social-icons a {
    font-size: 1.5rem;
    margin: 0 0.5rem;
    color: hsl(288.4deg 73.53% 40%);
    transition: all .3 linear;
}

.social-icons a:hover {
    color: hsl(209, 29%, 33%);
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 1rem;
    box-shadow: 0px 2px 15px #808080;
    transition:  all .3 linear;
    transform: translate(-100%);
}

.show-sidebar {
    transform: translate(0);
}

@media screen and (min-width: 676px) {
    .sidebar {
        width: 400px;
    }
}