*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-center {
    background: #070F2B;
    box-shadow: 0px 3px 4px #b2b2b5;
    color: #fff;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.nav-toggle {
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    transition: all 0.3s linear;
    color: #fff;

}

.nav-toggle:hover {
    color: #F57D1F;
    transform: rotate(90deg);
    
}

.links {
    margin-left: 1rem;
    list-style-type: none;
    line-height: 2rem;
    font-size: 1.2rem;
    transition: all 0.3s linear;
    overflow: hidden;
    height: 0;
}

.links li:hover {
    background: #F57D1F;
    padding-left: 1rem;
    cursor: pointer;
}

.social-links {
    display: flex;
    justify-content: space-between;
    width: 80px;
}

.show-links {
    height: 11rem;
  }